/* styles.css */



.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: black;
}

form {
  margin-bottom: 10px;
  width: 500px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
}

button {
  padding: 8px 16px;
  background-color: turquoise;
  color: white;
  border: none;
  cursor: pointer;
  margin: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: black;
  margin-bottom: 8px;
}
